.centre{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

#about{
text-align: center;

}
.search {
  search_text:centre
  width: 357px;
  margin: 100px auto;
  padding: 1000px;
}

#search_text{
  width: 297px;
  padding: 15px 0 15px 20px;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  border: 0 none;
  height: 52px;
  margin-right: 0;
  color: white;
  outline: none;
  background: #1f7f5c;
  float: left;
  box-sizing: border-box;
  transition: all 0.15s;
}

body{
background-color: red;}